[Unit]
Description=Prometheus systemd exporter
After=network.target

[Service]
Type=service
PrivateTmp=true
User=systemd_exporter
Group=systemd_exporter
ExecStart=/usr/local/bin/systemd_exporter-0.6.0.linux-amd64/systemd_exporter --web.listen-address=:9558
Restart=always
RestartSec=15s

[Install]
WantedBy=multi-user.target
